{% extends "lab/base.html" %}
{% block content %}

  <div class = "about nosotros-contenedor">
    <p class="titulo"><b> Entrega Final </b></p>
    <p class="subtitulo"> UTN: Curso Python - Nivel Intermedio </p>
    <p class="subtitulo2"> Integrantes del grupo </p>
    <li><a href="https://www.linkedin.com/in/federico-daniel-ara/" class="link"><b>Federico Daniel Ara</b></a></li>
    <li><a href="https://www.linkedin.com/in/marcelo-zurita-3383bb76/"class="link"><b>Marcelo Zurita</b></a></li>
  </div>

{% endblock content %}
